@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin:0;  
}

body{
    background-color: rgb(158, 158, 158);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 50px;
    margin-top: 100px;
    font-family: Roboto, sans-serif;
}

h1{
    font-size: 50px;
}

.gameBoardPlayer, .gameBoardIA{
    border: 4px gray solid;
    border-radius: 4px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.gameBoardIA>div, .gameBoardPlayer>div{
    border:1px solid rgb(158, 158, 158);
    box-sizing: border-box;
    height:50px;
    width:50px;
    background-color: white;
}

.container{
    display:flex;
    gap:100px;
}

button{
    color: white;
    background-color: rgb(31, 31, 31);
    border: none;
    border-radius: 6px;
    padding :0.7em;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid rgb(31, 31, 31);
    width: 130px;
    height: 40px;
    box-shadow: 0 0 4px black;
}

.reload {
    display: none;
}

button:hover{
    transform:scale(1.1);
    transition: transform 0.1s;
} 

.container>div>.boatSquare {
    background-color: purple;
    border-color: purple
}

.container>div>.IABoatSquare{
    background-color: white;
}

.gameBoardIA>.square {
    cursor: pointer;
}

.container>div>.sunk {
    background-color: red;
    border-color: red;
}

.container>div>.noHit {
    background-color: grey;
    border-color: grey;
}

